@import '~antd/dist/antd.css';

.site-card-wrapper{
  padding: 100px 0;
  img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 0 auto;
  }
}

.ant-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
